<template name="ApplicationLayout">

    <head>
        <title>ChitChat</title>
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <h1>ChitChat <img id="dots" src="img/dots.png"></h1>
        <img id="twitter" src="img/twitter.png">
        <img id="twitter" src="img/googleplus.png">
        <img id="twitter" src="img/snapchat.png">
        <img id="twitter" src="img/instagram.png">
        <img id="divider" src="img/divider.png"> {{> yield}}
    </body>

</template>

<!--<template name="post">
    <ul>
        {{#each posts}}
        <h2 class="post-class">{{username}}:{{name}}</h2> {{/each}}
    </ul>

</template>-->