<template name="chatroom">
    {{#if currentUser}}

    <ul>
        <form class="chat-message">
            <div class="input-field">
                <input type="text" name="firstname">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Send

            </button>
        </form>







        {{> post}}

    </ul>

    {{/if}} {{ > logout}}
</template>

<template name="logout">
    <div class="logout">
        <a href="/login" id="back" class="btn waves-effect waves-light">Log Out</a>
    </div>
</template>
<template name="post">
    <div class="post">
        {{#each posts}}
        <li class="post-class">{{username}}:{{name}}</li> {{/each}}
    </div>
</template>