<template name="login">
    <div class="row">
        <form class="login-form col s12">

            <div id="user">
                <div class="input-field col s12">
                    <input type="text" class="login-username" placeholder="Username">
                    <label>Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="login-password">
                    <label for="password">Password</label>
                </div>
            </div>

            <a id="login" class="btn waves-effect waves-light" type="submit" href="/chatroom" name="action">Log in</a>
            <a id="signup" href="/register" class="btn waves-effect waves-light sign-up">or Sign Up!</a>
        </form>
    </div>

</template>