<template name="main">

    <div>
        <img class="cloud" src="img/bcloud.png">

        <img class="cloud" src="img/gcloud.png">

        <img class="cloud" src="img/rcloud.png">
    </div>

    <body>
        <a href="/login" id="button" class="waves-effect waves-light btn">Get Started!</a>

    </body>
</template>