/* CSS declarations go here */

body {
    background-color: #141414;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: #f0f0f0;
    display: inline-block;
    font-size: 40px;
}

#divider {
    max-width: 100%;
    width: 1366px;
}

#twitter {
    float: right;
    padding: 20px;
    padding-top: 30px;
}

.cloud {
    margin: none;
    padding-top: 60px;
    padding-left: 55px;
    position: relative;
}

#dots {
    height: 20px;
    width: 70px;
}

.image {
    margin: none;
    width: 60px;
}

h3 {
    margin: none;
    position: absolute;
}

#button {
    background-color: #e06002;
    font-size: 40px;
    height: 60px;
    margin-top: 100px;
    margin-left: 480px;
    padding-top: 13px;
    width: 400px;
}

input {
    color: bisque;
}

#submit {
    height: 50px;
    background-color: #76ff00;
    font-size: 16px;
    margin-left: 480px;
    width: 170px;
}

#login {
    height: 50px;
    background-color: #7e040e;
    font-size: 16px;
    padding-top: 7px;
    margin-left: 480px;
    width: 170px;
}

#signup {
    height: 50px;
    background-color: #280348;
    font-size: 16px;
    padding-top: 7px;
    margin-left: 50px;
    width: 170px;
}

#back {
    height: 50px;
    background-color: #280348;
    font-size: 16px;
    padding-top: 7px;
    margin-left: 50px;
    width: 170px;
}