<template name="register">
    <div class="row">
        <form class="register-form col s12">


            <div id="user">
                <div class="input-field col s12">
                    <input type="text" class="register-username" placeholder="Username">
                    <label>Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="register-username">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="register-password">
                    <label for="email">Email</label>
                </div>
            </div>
            <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Send</button>
            <a href="/login" id="back" class="btn waves-effect waves-light">Go Back</a>
        </form>
    </div>

</template>